{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<h2 class="mb-4 text-center">How to Use AgriSense</h2>

<!-- ENGLISH -->
<div class="card shadow border-0 mb-4">
<div class="card-body">

<h4>English</h4>

<ol>
<li>Create an account or login.</li>
<li>Go to Dashboard.</li>
<li>Use Soil Analysis to upload soil data.</li>
<li>Check crop recommendations.</li>
<li>Find nearby Soil Testing Centres.</li>
<li>Use Marketplace to buy fertilizers or seeds.</li>
<li>Ask farming questions using AI Assistant.</li>

</ol>

</div>
</div>


<!-- HINDI -->
<div class="card shadow border-0 mb-4">
<div class="card-body">

<h4>हिंदी</h4>

<ol>
<li>पहले अपना अकाउंट बनाएं या लॉगिन करें।</li>
<li>डैशबोर्ड पर जाएं।</li>
<li>मिट्टी की जानकारी डालकर Soil Analysis करें।</li>
<li>फसल की सिफारिश देखें।</li>
<li>नजदीकी Soil Testing Centre खोजें।</li>
<li>Marketplace से खाद और बीज खरीदें।</li>
<li>AI Assistant से खेती से जुड़े सवाल पूछें।</li>
</ol>

</div>
</div>


<!-- MARATHI -->
<div class="card shadow border-0 mb-4">
<div class="card-body">

<h4>मराठी</h4>

<ol>
<li>प्रथम खाते तयार करा किंवा लॉगिन करा.</li>
<li>डॅशबोर्डवर जा.</li>
<li>मातीची माहिती देऊन Soil Analysis करा.</li>
<li>शिफारस केलेली पिके पहा.</li>
<li>जवळचे Soil Testing Centre शोधा.</li>
<li>Marketplace मधून खत आणि बियाणे खरेदी करा.</li>
<li>AI Assistant वापरून शेतीसंबंधित प्रश्न विचारा.</li>
</ol>

</div>
</div>

</div>

{% endblock %}